@* This file is copyright © 2022 Dnj.Colab repository authors.

Dnj.Colab content is distributed as free software: you can redistribute it and/or modify it under the terms of the General Public License version 3 as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Dnj.Colab content is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the General Public License version 3 for more details.

You should have received a copy of the General Public License version 3 along with this repository. If not, see <https://github.com/smaicas-org/Dnj.Colab/blob/dev/LICENSE>. *@

@namespace Nj.Samples.JSInteropTS.RCL

@inject RecorderComponentJsInterop recorderComponentJs

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <button class="btn btn-outline-primary" disabled="@Recording" @onclick="Record">
                <span class="icon-mic align-text-bottom"></span>
            </button>
            <button class="btn btn-outline-primary" disabled="@(!Recording)" @onclick="Stop">
                <span class="icon-stop align-text-bottom"></span>
            </button>
        </div>

        <div class="col-12 col-md-9 text-end">

            @{
                var _displayCanvas = Recording ? "inline-flex" : "none";
            }
            <canvas @ref="_canvasAudioRef" id="audio-canvas" class="w-100 bg-light" style="display: @_displayCanvas" height="30"></canvas>
            @{
                object _displayAudioControl = !Recording && Recorded ? "inline-flex" : "none";
                ;
            }
            <audio @ref="_audioFileRef" id="audio-file" class="w-100" style="display: @_displayAudioControl" controls>
            </audio>
        </div>

    </div>

</div>

@code {

    bool Recording { get; set; } = false;
    bool Recorded { get; set; } = false;
    private ElementReference _audioFileRef;
    private ElementReference _canvasAudioRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    private async Task Record()
    {
        Recording = true;
        await recorderComponentJs.StartRecording();
        await recorderComponentJs.VisualizeCanvas(_canvasAudioRef);
        StateHasChanged();
    }

    private async Task Stop()
    {
        Recording = false;
        var audio = await recorderComponentJs.StopRecording();
        var audioUrl = await recorderComponentJs.SetAudioSource(_audioFileRef);
        Recorded = true;
        StateHasChanged();
    }

}