@font-face {
    font-display: block;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/icomoon.eot?i0mrh7');
    src: url('fonts/icomoon.eot?i0mrh7#iefix') format('embedded-opentype'),
         url('fonts/icomoon.ttf?i0mrh7') format('truetype'),
         url('fonts/icomoon.woff?i0mrh7') format('woff'),
         url('fonts/icomoon.svg?i0mrh7#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    -moz-osx-font-smoothing: grayscale;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;

    speak: never;
    text-transform: none;
}

.icon-mobile1:before { content: "\e000"; }

.icon-laptop1:before { content: "\e001"; }

.icon-desktop:before { content: "\e002"; }

.icon-tablet1:before { content: "\e003"; }

.icon-phone1:before { content: "\e004"; }

.icon-document:before { content: "\e005"; }

.icon-documents:before { content: "\e006"; }

.icon-search1:before { content: "\e007"; }

.icon-clipboard1:before { content: "\e008"; }

.icon-newspaper1:before { content: "\e009"; }

.icon-notebook:before { content: "\e00a"; }

.icon-book-open:before { content: "\e00b"; }

.icon-browser:before { content: "\e00c"; }

.icon-calendar1:before { content: "\e00d"; }

.icon-presentation:before { content: "\e00e"; }

.icon-picture:before { content: "\e00f"; }

.icon-pictures:before { content: "\e010"; }

.icon-video:before { content: "\e011"; }

.icon-camera1:before { content: "\e012"; }

.icon-printer1:before { content: "\e013"; }

.icon-toolbox:before { content: "\e014"; }

.icon-briefcase:before { content: "\e015"; }

.icon-wallet:before { content: "\e016"; }

.icon-gift1:before { content: "\e017"; }

.icon-bargraph:before { content: "\e018"; }

.icon-grid:before { content: "\e019"; }

.icon-expand:before { content: "\e01a"; }

.icon-focus:before { content: "\e01b"; }

.icon-edit:before { content: "\e01c"; }

.icon-adjustments:before { content: "\e01d"; }

.icon-ribbon:before { content: "\e01e"; }

.icon-hourglass:before { content: "\e01f"; }

.icon-lock1:before { content: "\e020"; }

.icon-megaphone:before { content: "\e021"; }

.icon-shield1:before { content: "\e022"; }

.icon-trophy1:before { content: "\e023"; }

.icon-flag:before { content: "\e024"; }

.icon-map1:before { content: "\e025"; }

.icon-puzzle:before { content: "\e026"; }

.icon-basket:before { content: "\e027"; }

.icon-envelope:before { content: "\e028"; }

.icon-streetsign:before { content: "\e029"; }

.icon-telescope:before { content: "\e02a"; }

.icon-gears:before { content: "\e02b"; }

.icon-key:before { content: "\e02c"; }

.icon-paperclip:before { content: "\e02d"; }

.icon-attachment1:before { content: "\e02e"; }

.icon-pricetags:before { content: "\e02f"; }

.icon-lightbulb:before { content: "\e030"; }

.icon-layers:before { content: "\e031"; }

.icon-pencil:before { content: "\e032"; }

.icon-tools:before { content: "\e033"; }

.icon-tools-2:before { content: "\e034"; }

.icon-scissors1:before { content: "\e035"; }

.icon-paintbrush:before { content: "\e036"; }

.icon-magnifying-glass:before { content: "\e037"; }

.icon-circle-compass:before { content: "\e038"; }

.icon-linegraph:before { content: "\e039"; }

.icon-mic1:before { content: "\e03a"; }

.icon-strategy:before { content: "\e03b"; }

.icon-beaker:before { content: "\e03c"; }

.icon-caution:before { content: "\e03d"; }

.icon-recycle:before { content: "\e03e"; }

.icon-anchor:before { content: "\e03f"; }

.icon-profile-male:before { content: "\e040"; }

.icon-profile-female:before { content: "\e041"; }

.icon-bike:before { content: "\e042"; }

.icon-wine:before { content: "\e043"; }

.icon-hotairballoon:before { content: "\e044"; }

.icon-globe:before { content: "\e045"; }

.icon-genius:before { content: "\e046"; }

.icon-map-pin:before { content: "\e047"; }

.icon-dial:before { content: "\e048"; }

.icon-chat:before { content: "\e049"; }

.icon-heart1:before { content: "\e04a"; }

.icon-cloud:before { content: "\e04b"; }

.icon-upload1:before { content: "\e04c"; }

.icon-download1:before { content: "\e04d"; }

.icon-target:before { content: "\e04e"; }

.icon-hazardous:before { content: "\e04f"; }

.icon-piechart:before { content: "\e050"; }

.icon-speedometer:before { content: "\e051"; }

.icon-global:before { content: "\e052"; }

.icon-compass1:before { content: "\e053"; }

.icon-lifesaver:before { content: "\e054"; }

.icon-clock1:before { content: "\e055"; }

.icon-aperture:before { content: "\e056"; }

.icon-quote:before { content: "\e057"; }

.icon-scope:before { content: "\e058"; }

.icon-alarmclock:before { content: "\e059"; }

.icon-refresh:before { content: "\e05a"; }

.icon-happy1:before { content: "\e05b"; }

.icon-sad1:before { content: "\e05c"; }

.icon-facebook1:before { content: "\e05d"; }

.icon-twitter1:before { content: "\e05e"; }

.icon-googleplus:before { content: "\e05f"; }

.icon-rss:before { content: "\e060"; }

.icon-tumblr:before { content: "\e061"; }

.icon-linkedin3:before { content: "\e062"; }

.icon-dribbble:before { content: "\e063"; }

.icon-plus1:before { content: "\f067"; }

.icon-question1:before { content: "\f128"; }

.icon-minus1:before { content: "\f068"; }

.icon-power-off:before { content: "\f011"; }

.icon-group:before { content: "\f0c0"; }

.icon-users1:before { content: "\f0c0"; }

.icon-caret-down:before { content: "\f0d7"; }

.icon-caret-up:before { content: "\f0d8"; }

.icon-caret-left:before { content: "\f0d9"; }

.icon-caret-right:before { content: "\f0da"; }

.icon-sort:before { content: "\f0dc"; }

.icon-unsorted:before { content: "\f0dc"; }

.icon-sort-desc:before { content: "\f0dd"; }

.icon-sort-down:before { content: "\f0dd"; }

.icon-sort-asc:before { content: "\f0de"; }

.icon-sort-up:before { content: "\f0de"; }

.icon-angle-left:before { content: "\f104"; }

.icon-angle-right:before { content: "\f105"; }

.icon-database1:before { content: "\f1c0"; }

.icon-git-square:before { content: "\f1d2"; }

.icon-git:before { content: "\f1d3"; }

.icon-bomb:before { content: "\f1e2"; }

.icon-toggle-off:before { content: "\f204"; }

.icon-toggle-on:before { content: "\f205"; }

.icon-expeditedssl:before { content: "\f23e"; }

.icon-hashtag:before { content: "\f292"; }

.icon-window-maximize:before { content: "\f2d0"; }

.icon-window-minimize:before { content: "\f2d1"; }

.icon-window-restore:before { content: "\f2d2"; }

.icon-times-rectangle:before { content: "\f2d3"; }

.icon-window-close:before { content: "\f2d3"; }

.icon-times-rectangle-o:before { content: "\f2d4"; }

.icon-window-close-o:before { content: "\f2d4"; }

.icon-azureartifacts:before {
    color: #cb2e6d;
    content: "\e9a7";
}

.icon-azuredevops:before {
    color: #0078d7;
    content: "\e9ab";
}

.icon-azurepipelines:before {
    color: #2560e0;
    content: "\e9ae";
}

.icon-csharp:before {
    color: #239120;
    content: "\e9af";
}

.icon-dev-dot-to:before { content: "\e9b0"; }

.icon-discord:before {
    color: #7289da;
    content: "\e900";
}

.icon-dot-net:before {
    color: #5c2d91;
    content: "\e901";
}

.icon-facebook:before {
    color: #1877f2;
    content: "\e902";
}

.icon-git2:before {
    color: #f05032;
    content: "\e9b1";
}

.icon-gitea:before {
    color: #609926;
    content: "\e9b2";
}

.icon-github:before { content: "\e903"; }

.icon-google:before {
    color: #4285f4;
    content: "\e904";
}

.icon-hackaday:before { content: "\e905"; }

.icon-html5:before {
    color: #e34f26;
    content: "\e9b3";
}

.icon-instagram:before {
    color: #e4405f;
    content: "\e906";
}

.icon-java:before {
    color: #007396;
    content: "\e9b9";
}

.icon-linkedin:before {
    color: #0077b5;
    content: "\e907";
}

.icon-microsoft:before {
    color: #666;
    content: "\e9ba";
}

.icon-microsoftazure:before {
    color: #0089d6;
    content: "\e9bb";
}

.icon-microsoftexcel:before {
    color: #217346;
    content: "\e9bc";
}

.icon-microsoftoffice:before {
    color: #e74025;
    content: "\e9c1";
}

.icon-microsoftonedrive:before {
    color: #094ab2;
    content: "\e9c4";
}

.icon-microsoftonenote:before {
    color: #80397b;
    content: "\e9cc";
}

.icon-microsoftoutlook:before {
    color: #0072c6;
    content: "\e9db";
}

.icon-microsoftpowerpoint:before {
    color: #d24726;
    content: "\ea7d";
}

.icon-microsoftteams:before {
    color: #6264a7;
    content: "\e908";
}

.icon-microsoftword:before {
    color: #2b579a;
    content: "\ea7e";
}

.icon-twitch:before {
    color: #6441a4;
    content: "\e909";
}

.icon-twitter:before {
    color: #1da1f2;
    content: "\e90a";
}

.icon-youtube:before {
    color: #f00;
    content: "\e90b";
}

.icon-home1:before { content: "\e90d"; }

.icon-home2:before { content: "\e90e"; }

.icon-home:before { content: "\e90c"; }

.icon-office:before { content: "\e90f"; }

.icon-newspaper:before { content: "\e910"; }

.icon-pencil2:before { content: "\e911"; }

.icon-quill:before { content: "\e912"; }

.icon-pen:before { content: "\e913"; }

.icon-blog:before { content: "\e914"; }

.icon-eyedropper:before { content: "\e915"; }

.icon-droplet:before { content: "\e916"; }

.icon-paint-format:before { content: "\e917"; }

.icon-image:before { content: "\e918"; }

.icon-images:before { content: "\e919"; }

.icon-camera:before { content: "\e91a"; }

.icon-headphones:before { content: "\e91b"; }

.icon-music:before { content: "\e91c"; }

.icon-play:before { content: "\e91d"; }

.icon-film:before { content: "\e91e"; }

.icon-video-camera:before { content: "\e91f"; }

.icon-dice:before { content: "\e920"; }

.icon-pacman:before { content: "\e921"; }

.icon-spades:before { content: "\e922"; }

.icon-clubs:before { content: "\e923"; }

.icon-diamonds:before { content: "\e924"; }

.icon-bullhorn:before { content: "\e925"; }

.icon-connection:before { content: "\e926"; }

.icon-podcast:before { content: "\e927"; }

.icon-feed:before { content: "\e928"; }

.icon-mic:before { content: "\e929"; }

.icon-book:before { content: "\e92a"; }

.icon-books:before { content: "\e92b"; }

.icon-library:before { content: "\e92c"; }

.icon-file-text:before { content: "\e92d"; }

.icon-profile:before { content: "\e92e"; }

.icon-file-empty:before { content: "\e92f"; }

.icon-files-empty:before { content: "\e930"; }

.icon-file-text2:before { content: "\e931"; }

.icon-file-picture:before { content: "\e932"; }

.icon-file-music:before { content: "\e933"; }

.icon-file-play:before { content: "\e934"; }

.icon-file-video:before { content: "\e935"; }

.icon-file-zip:before { content: "\e936"; }

.icon-copy:before { content: "\e937"; }

.icon-paste:before { content: "\e938"; }

.icon-stack:before { content: "\e939"; }

.icon-folder:before { content: "\e93a"; }

.icon-folder-open:before { content: "\e93b"; }

.icon-folder-plus:before { content: "\e93c"; }

.icon-folder-minus:before { content: "\e93d"; }

.icon-folder-download:before { content: "\e93e"; }

.icon-folder-upload:before { content: "\e93f"; }

.icon-price-tag:before { content: "\e940"; }

.icon-price-tags:before { content: "\e941"; }

.icon-barcode:before { content: "\e942"; }

.icon-qrcode:before { content: "\e943"; }

.icon-ticket:before { content: "\e944"; }

.icon-cart:before { content: "\e945"; }

.icon-coin-dollar:before { content: "\e946"; }

.icon-coin-euro:before { content: "\e947"; }

.icon-credit-card:before { content: "\e948"; }

.icon-calculator:before { content: "\e949"; }

.icon-lifebuoy:before { content: "\e94a"; }

.icon-phone:before { content: "\e94b"; }

.icon-phone-hang-up:before { content: "\e94c"; }

.icon-address-book:before { content: "\e94d"; }

.icon-envelop:before { content: "\e94e"; }

.icon-pushpin:before { content: "\e94f"; }

.icon-location:before { content: "\e950"; }

.icon-location2:before { content: "\e951"; }

.icon-compass:before { content: "\e952"; }

.icon-compass2:before { content: "\e953"; }

.icon-map:before { content: "\e954"; }

.icon-map2:before { content: "\e955"; }

.icon-history:before { content: "\e956"; }

.icon-clock:before { content: "\e957"; }

.icon-clock2:before { content: "\e958"; }

.icon-alarm:before { content: "\e959"; }

.icon-bell:before { content: "\e95a"; }

.icon-stopwatch:before { content: "\e95b"; }

.icon-calendar:before { content: "\e95c"; }

.icon-printer:before { content: "\e95d"; }

.icon-keyboard:before { content: "\e95e"; }

.icon-display:before { content: "\e95f"; }

.icon-laptop:before { content: "\e960"; }

.icon-mobile:before { content: "\e961"; }

.icon-mobile2:before { content: "\e962"; }

.icon-tablet:before { content: "\e963"; }

.icon-tv:before { content: "\e964"; }

.icon-drawer:before { content: "\e965"; }

.icon-drawer2:before { content: "\e966"; }

.icon-box-add:before { content: "\e967"; }

.icon-box-remove:before { content: "\e968"; }

.icon-download:before { content: "\e969"; }

.icon-upload:before { content: "\e96a"; }

.icon-floppy-disk:before { content: "\e96b"; }

.icon-drive:before { content: "\e96c"; }

.icon-database:before { content: "\e96d"; }

.icon-undo:before { content: "\e96e"; }

.icon-redo:before { content: "\e96f"; }

.icon-undo2:before { content: "\e970"; }

.icon-redo2:before { content: "\e971"; }

.icon-forward:before { content: "\e972"; }

.icon-reply:before { content: "\e973"; }

.icon-bubble:before { content: "\e974"; }

.icon-bubbles:before { content: "\e975"; }

.icon-bubbles2:before { content: "\e976"; }

.icon-bubble2:before { content: "\e977"; }

.icon-bubbles3:before { content: "\e978"; }

.icon-bubbles4:before { content: "\e979"; }

.icon-user:before { content: "\e97a"; }

.icon-users:before { content: "\e97b"; }

.icon-user-plus:before { content: "\e97c"; }

.icon-user-minus:before { content: "\e97d"; }

.icon-user-check:before { content: "\e97e"; }

.icon-user-tie:before { content: "\e97f"; }

.icon-quotes-left:before { content: "\e980"; }

.icon-quotes-right:before { content: "\e981"; }

.icon-hour-glass:before { content: "\e982"; }

.icon-spinner:before { content: "\e983"; }

.icon-spinner2:before { content: "\e984"; }

.icon-spinner3:before { content: "\e985"; }

.icon-spinner4:before { content: "\e986"; }

.icon-spinner5:before { content: "\e987"; }

.icon-spinner6:before { content: "\e988"; }

.icon-spinner7:before { content: "\e989"; }

.icon-spinner8:before { content: "\e98a"; }

.icon-spinner9:before { content: "\e98b"; }

.icon-spinner10:before { content: "\e98c"; }

.icon-spinner11:before { content: "\e98d"; }

.icon-binoculars:before { content: "\e98e"; }

.icon-search:before { content: "\e98f"; }

.icon-zoom-in:before { content: "\e990"; }

.icon-zoom-out:before { content: "\e991"; }

.icon-enlarge:before { content: "\e992"; }

.icon-shrink:before { content: "\e993"; }

.icon-lock:before { content: "\e994"; }

.icon-unlocked:before { content: "\e995"; }

.icon-wrench:before { content: "\e996"; }

.icon-equalizer:before { content: "\e997"; }

.icon-equalizer2:before { content: "\e998"; }

.icon-cog:before { content: "\e999"; }

.icon-cogs:before { content: "\e99a"; }

.icon-hammer:before { content: "\e99b"; }

.icon-magic-wand:before { content: "\e99c"; }

.icon-bug:before { content: "\e99d"; }

.icon-pie-chart:before { content: "\e99e"; }

.icon-stats-dots:before { content: "\e99f"; }

.icon-stats-bars:before { content: "\e9a0"; }

.icon-stats-bars2:before { content: "\e9a1"; }

.icon-trophy:before { content: "\e9a2"; }

.icon-gift:before { content: "\e9a3"; }

.icon-mug:before { content: "\e9a4"; }

.icon-leaf:before { content: "\e9a5"; }

.icon-rocket:before { content: "\e9a6"; }

.icon-hammer2:before { content: "\e9a8"; }

.icon-fire:before { content: "\e9a9"; }

.icon-lab:before { content: "\e9aa"; }

.icon-bin:before { content: "\e9ac"; }

.icon-bin2:before { content: "\e9ad"; }

.icon-shield:before { content: "\e9b4"; }

.icon-power:before { content: "\e9b5"; }

.icon-switch:before { content: "\e9b6"; }

.icon-power-cord:before { content: "\e9b7"; }

.icon-clipboard:before { content: "\e9b8"; }

.icon-menu:before { content: "\e9bd"; }

.icon-menu2:before { content: "\e9be"; }

.icon-menu3:before { content: "\e9bf"; }

.icon-menu4:before { content: "\e9c0"; }

.icon-cloud-download:before { content: "\e9c2"; }

.icon-cloud-upload:before { content: "\e9c3"; }

.icon-download2:before { content: "\e9c5"; }

.icon-upload2:before { content: "\e9c6"; }

.icon-download3:before { content: "\e9c7"; }

.icon-upload3:before { content: "\e9c8"; }

.icon-sphere:before { content: "\e9c9"; }

.icon-earth:before { content: "\e9ca"; }

.icon-link:before { content: "\e9cb"; }

.icon-attachment:before { content: "\e9cd"; }

.icon-eye:before { content: "\e9ce"; }

.icon-eye-plus:before { content: "\e9cf"; }

.icon-eye-minus:before { content: "\e9d0"; }

.icon-eye-blocked:before { content: "\e9d1"; }

.icon-bookmark:before { content: "\e9d2"; }

.icon-bookmarks:before { content: "\e9d3"; }

.icon-sun:before { content: "\e9d4"; }

.icon-contrast:before { content: "\e9d5"; }

.icon-brightness-contrast:before { content: "\e9d6"; }

.icon-star-empty:before { content: "\e9d7"; }

.icon-star-half:before { content: "\e9d8"; }

.icon-star-full:before { content: "\e9d9"; }

.icon-heart:before { content: "\e9da"; }

.icon-man:before { content: "\e9dc"; }

.icon-woman:before { content: "\e9dd"; }

.icon-man-woman:before { content: "\e9de"; }

.icon-happy:before { content: "\e9df"; }

.icon-happy2:before { content: "\e9e0"; }

.icon-smile:before { content: "\e9e1"; }

.icon-smile2:before { content: "\e9e2"; }

.icon-tongue:before { content: "\e9e3"; }

.icon-tongue2:before { content: "\e9e4"; }

.icon-sad:before { content: "\e9e5"; }

.icon-sad2:before { content: "\e9e6"; }

.icon-wink:before { content: "\e9e7"; }

.icon-wink2:before { content: "\e9e8"; }

.icon-grin:before { content: "\e9e9"; }

.icon-grin2:before { content: "\e9ea"; }

.icon-cool:before { content: "\e9eb"; }

.icon-cool2:before { content: "\e9ec"; }

.icon-angry:before { content: "\e9ed"; }

.icon-angry2:before { content: "\e9ee"; }

.icon-evil:before { content: "\e9ef"; }

.icon-evil2:before { content: "\e9f0"; }

.icon-shocked:before { content: "\e9f1"; }

.icon-shocked2:before { content: "\e9f2"; }

.icon-baffled:before { content: "\e9f3"; }

.icon-baffled2:before { content: "\e9f4"; }

.icon-confused:before { content: "\e9f5"; }

.icon-confused2:before { content: "\e9f6"; }

.icon-neutral:before { content: "\e9f7"; }

.icon-neutral2:before { content: "\e9f8"; }

.icon-hipster:before { content: "\e9f9"; }

.icon-hipster2:before { content: "\e9fa"; }

.icon-wondering:before { content: "\e9fb"; }

.icon-wondering2:before { content: "\e9fc"; }

.icon-sleepy:before { content: "\e9fd"; }

.icon-sleepy2:before { content: "\e9fe"; }

.icon-frustrated:before { content: "\e9ff"; }

.icon-frustrated2:before { content: "\ea00"; }

.icon-crying:before { content: "\ea01"; }

.icon-crying2:before { content: "\ea02"; }

.icon-point-up:before { content: "\ea03"; }

.icon-point-right:before { content: "\ea04"; }

.icon-point-down:before { content: "\ea05"; }

.icon-point-left:before { content: "\ea06"; }

.icon-warning:before { content: "\ea07"; }

.icon-notification:before { content: "\ea08"; }

.icon-question:before { content: "\ea09"; }

.icon-plus:before { content: "\ea0a"; }

.icon-minus:before { content: "\ea0b"; }

.icon-info:before { content: "\ea0c"; }

.icon-cancel-circle:before { content: "\ea0d"; }

.icon-blocked:before { content: "\ea0e"; }

.icon-cross:before { content: "\ea0f"; }

.icon-checkmark:before { content: "\ea10"; }

.icon-checkmark2:before { content: "\ea11"; }

.icon-spell-check:before { content: "\ea12"; }

.icon-enter:before { content: "\ea13"; }

.icon-exit:before { content: "\ea14"; }

.icon-play2:before { content: "\ea15"; }

.icon-pause:before { content: "\ea16"; }

.icon-stop:before { content: "\ea17"; }

.icon-previous:before { content: "\ea18"; }

.icon-next:before { content: "\ea19"; }

.icon-backward:before { content: "\ea1a"; }

.icon-forward2:before { content: "\ea1b"; }

.icon-play3:before { content: "\ea1c"; }

.icon-pause2:before { content: "\ea1d"; }

.icon-stop2:before { content: "\ea1e"; }

.icon-backward2:before { content: "\ea1f"; }

.icon-forward3:before { content: "\ea20"; }

.icon-first:before { content: "\ea21"; }

.icon-last:before { content: "\ea22"; }

.icon-previous2:before { content: "\ea23"; }

.icon-next2:before { content: "\ea24"; }

.icon-eject:before { content: "\ea25"; }

.icon-volume-high:before { content: "\ea26"; }

.icon-volume-medium:before { content: "\ea27"; }

.icon-volume-low:before { content: "\ea28"; }

.icon-volume-mute:before { content: "\ea29"; }

.icon-volume-mute2:before { content: "\ea2a"; }

.icon-volume-increase:before { content: "\ea2b"; }

.icon-volume-decrease:before { content: "\ea2c"; }

.icon-loop:before { content: "\ea2d"; }

.icon-loop2:before { content: "\ea2e"; }

.icon-infinite:before { content: "\ea2f"; }

.icon-shuffle:before { content: "\ea30"; }

.icon-arrow-up-left:before { content: "\ea31"; }

.icon-arrow-up:before { content: "\ea32"; }

.icon-arrow-up-right:before { content: "\ea33"; }

.icon-arrow-right:before { content: "\ea34"; }

.icon-arrow-down-right:before { content: "\ea35"; }

.icon-arrow-down:before { content: "\ea36"; }

.icon-arrow-down-left:before { content: "\ea37"; }

.icon-arrow-left:before { content: "\ea38"; }

.icon-arrow-up-left2:before { content: "\ea39"; }

.icon-arrow-up2:before { content: "\ea3a"; }

.icon-arrow-up-right2:before { content: "\ea3b"; }

.icon-arrow-right2:before { content: "\ea3c"; }

.icon-arrow-down-right2:before { content: "\ea3d"; }

.icon-arrow-down2:before { content: "\ea3e"; }

.icon-arrow-down-left2:before { content: "\ea3f"; }

.icon-arrow-left2:before { content: "\ea40"; }

.icon-circle-up:before { content: "\ea41"; }

.icon-circle-right:before { content: "\ea42"; }

.icon-circle-down:before { content: "\ea43"; }

.icon-circle-left:before { content: "\ea44"; }

.icon-tab:before { content: "\ea45"; }

.icon-move-up:before { content: "\ea46"; }

.icon-move-down:before { content: "\ea47"; }

.icon-sort-alpha-asc:before { content: "\ea48"; }

.icon-sort-alpha-desc:before { content: "\ea49"; }

.icon-sort-numeric-asc:before { content: "\ea4a"; }

.icon-sort-numberic-desc:before { content: "\ea4b"; }

.icon-sort-amount-asc:before { content: "\ea4c"; }

.icon-sort-amount-desc:before { content: "\ea4d"; }

.icon-command:before { content: "\ea4e"; }

.icon-shift:before { content: "\ea4f"; }

.icon-ctrl:before { content: "\ea50"; }

.icon-opt:before { content: "\ea51"; }

.icon-checkbox-checked:before { content: "\ea52"; }

.icon-checkbox-unchecked:before { content: "\ea53"; }

.icon-radio-checked:before { content: "\ea54"; }

.icon-radio-checked2:before { content: "\ea55"; }

.icon-radio-unchecked:before { content: "\ea56"; }

.icon-crop:before { content: "\ea57"; }

.icon-make-group:before { content: "\ea58"; }

.icon-ungroup:before { content: "\ea59"; }

.icon-scissors:before { content: "\ea5a"; }

.icon-filter:before { content: "\ea5b"; }

.icon-font:before { content: "\ea5c"; }

.icon-ligature:before { content: "\ea5d"; }

.icon-ligature2:before { content: "\ea5e"; }

.icon-text-height:before { content: "\ea5f"; }

.icon-text-width:before { content: "\ea60"; }

.icon-font-size:before { content: "\ea61"; }

.icon-bold:before { content: "\ea62"; }

.icon-underline:before { content: "\ea63"; }

.icon-italic:before { content: "\ea64"; }

.icon-strikethrough:before { content: "\ea65"; }

.icon-omega:before { content: "\ea66"; }

.icon-sigma:before { content: "\ea67"; }

.icon-page-break:before { content: "\ea68"; }

.icon-superscript:before { content: "\ea69"; }

.icon-subscript:before { content: "\ea6a"; }

.icon-superscript2:before { content: "\ea6b"; }

.icon-subscript2:before { content: "\ea6c"; }

.icon-text-color:before { content: "\ea6d"; }

.icon-pagebreak:before { content: "\ea6e"; }

.icon-clear-formatting:before { content: "\ea6f"; }

.icon-table:before { content: "\ea70"; }

.icon-table2:before { content: "\ea71"; }

.icon-insert-template:before { content: "\ea72"; }

.icon-pilcrow:before { content: "\ea73"; }

.icon-ltr:before { content: "\ea74"; }

.icon-rtl:before { content: "\ea75"; }

.icon-section:before { content: "\ea76"; }

.icon-paragraph-left:before { content: "\ea77"; }

.icon-paragraph-center:before { content: "\ea78"; }

.icon-paragraph-right:before { content: "\ea79"; }

.icon-paragraph-justify:before { content: "\ea7a"; }

.icon-indent-increase:before { content: "\ea7b"; }

.icon-indent-decrease:before { content: "\ea7c"; }

.icon-youtube2:before { content: "\ea9e"; }

.icon-github1:before { content: "\eab0"; }

.icon-linkedin1:before { content: "\eac9"; }

.icon-linkedin2:before { content: "\eaca"; }

.icon-paypal:before { content: "\ead8"; }

.icon-chrome:before { content: "\ead9"; }

.icon-firefox:before { content: "\eada"; }

.icon-IE:before { content: "\eadb"; }

.icon-edge:before { content: "\eadc"; }

.icon-safari:before { content: "\eadd"; }

.icon-opera:before { content: "\eade"; }

.icon-file-pdf:before { content: "\eadf"; }

.icon-file-openoffice:before { content: "\eae0"; }

.icon-file-word:before { content: "\eae1"; }

.icon-file-excel:before { content: "\eae2"; }

.icon-libreoffice:before { content: "\eae3"; }

.icon-html-five:before { content: "\eae4"; }

.icon-git1:before { content: "\eae7"; }

.icon-codepen:before { content: "\eae8"; }